!!! XML 
!!!  
%html{html_attrs('ja')}
  %head
    %title #{@term} - Simpe Realtime Search for Twitter.
    %link{:rel => :stylesheet, :href => "/stylesheet.css", :type => "text/css"}
  %body
    %h1.title #{@term} - Simpe Realtime Search for Twitter.
    %ul
    - @result.each do |item|
      %li
        %a{:href => "#{item}"} #{item}
